<div class="panel panel-default" id="cart">
    <div class="panel-heading text-center">
        <h4>购物车</h4>
    </div>
    <div class="panel-body text-center" id="cart-item">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>livingGoods</h4>
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item" id="livingGoods">
                    <div class="row panel-title">
                        <div class="col-md-3">名称</div>
                        <div class="col-md-3">单价</div>
                        <div class="col-md-3">数量</div>
                        <div class="col-md-3">小计</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>food</h4>
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item" id="food">
                    <div class="row panel-title">
                        <div class="col-md-3">名称</div>
                        <div class="col-md-3">单价</div>
                        <div class="col-md-3">数量</div>
                        <div class="col-md-3">小计</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>fruits</h4>
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item" id="fruit">
                    <div class="row panel-title">
                        <div class="col-md-3">名称</div>
                        <div class="col-md-3">单价</div>
                        <div class="col-md-3">数量</div>
                        <div class="col-md-3">小计</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-lg" role="button" href="pay.html" id="pay">小二算账！</a>
    </div>