<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h4>确认订单</h4>
    </div>
    <div class="panel-body text-center" id="payList">
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2 text-right">
        <a class="btn btn-primary btn-lg" role="button" id="clearing" href="index.html">结算！</a>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <a class="btn btn-primary btn-lg" role="button" href="cart.html">修改！</a>
    </div>
    <div class="col-md-4"></div>
</div>